<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Look back with data to move your business forward
    </h1>

    <h1>
        Add training data for our prediction model
    </h1>
    <form method="post">
        {%csrf_token%}
        {{form}}
        <button>
            Add Data
        </button>
        <style>
            
        </style>
    </form>
    <div>
        {% if xy%}
        <h2>
            Training Data
        </h2>
        <table>
            <tr>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
            </tr>
            {%for Quantity, Price in xy.items%}
            <tr>
                <td>
                    {{Quantity}}
                </td>
                <td>
                    {{Price}}
                </td>
            </tr>
            {%endfor%}
        </table>
        <button>
            <a href="{%url 'ClearData'%}">
                Clear Data
            </a>
        </button>
        <form method="post" action="{%url 'LinearRegression'%}">
            {{predict}}
            {%csrf_token%}
            <button>
                Predict Price
            </button>
        </form>
        {%endif%}
    </div>
</body>
</html>
